<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CRUD OPEARTIONS DEMO</title>
</head>
<body>
		<center>	<h1>Welcome to my world!!</h1>
					<div>
					<h5>If you are a new user, Please register</h5>
					<h3><a th:href="@{/register}">Register</a></h3>
					</div>
					<div>
					<h5>If you are a Existing user, Please login</h5>
					<h3><a th:href="@{/sign-in}">Sign-In</a></h3>
					</div>
					
		
		</center>
	
</body>
</html>